<h1>Welcome, <%=@user.fname%> <%=@user.lname%></h1>
<a href="/newpost"><button class="btn">New Post</button></a>

<% @posts.each do |p| %>
<div class="jumbotron">
  <h1 class="display-4"><%= p.title %></h1>
  <p class="lead"><%= p.body %></p>
  <hr class="my-4">
  <p><%= p.create_at %></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<% end %>
