<% if session[:id] != nil %>
  <% if @user.id == @userx.id %>
    <h1>Welcome, <%=@user.fname%> <%=@user.lname%></h1>
    <a href="/newpost"><button class="btn">New Post</button></a>

    <!-- Button trigger modal -->
    <button type="button" class="btn bg-danger text-white" data-toggle="modal" data-target="#exampleModal">
       Delete Profile
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          Are you sure you would like to delete all posts and your profile?
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a href="/<%= @user.username %>/delete"><button class="btn bg-danger">Delete Profile</button></a>
          </div>
        </div>
      </div>
    </div>
    <% else %>
      <h1><%= @userx.username %>'s Profile</h1>
      <hr>
      <ul>
        <li>Name: <%= @userx.fname %> <%= @userx.lname %></li>
        <li>Email: <%= @userx.email %></li>
      </ul>
      <hr>
      <h2>Posts by <%= @userx.username %></h2>
      <hr>
  <% end %>
<% else %>
  <h1><%= @userx.username %>'s Profile</h1>
  <hr>
  <ul>
    <li>Name: <%= @userx.fname %> <%= @userx.lname %></li>
    <li>Email: <%= @userx.email %></li>
  </ul>
  <hr>
  <h2>Posts by <%= @userx.username %></h2>
  <hr>
<% end %>

<% x = 1 %>
<% @posts.each do |p| %>
<div class="blog-post">
  <h2 class="blog-post-title"><%= p.title %></h2>
  <p class="blog-post-meta">Posted at <%= p.updated_at %> by <a href="/<%= @userx.username %>"><%= @userx.username %></a></p>

  <p><%= p.body %></p>
  <hr>
  <% if session[:id] != nil && session[:id] == p.user_id%>
  <a href="/delete/<%= p.id %>"><button class="btn"><i class="fas fa-trash-alt"></i></button></a>
  <a href="/<%= @user.username %>/editpost/<%= p.id %>"><button class="btn"><i class="fas fa-pencil-alt"></i></button></a>
  <% end %>
  <button class="btn" type="button" data-toggle="collapse" data-target="#shareButtons<%= x %>" aria-expanded="false" aria-controls="shareButtons"><i class="fas fa-paper-plane"></i></button>
  <div class="collapse" id="shareButtons<%= x %>">
    <!-- Social Button HTML -->
    <!-- Twitter -->
    <a href="http://twitter.com/share?url=<URL>&text=<TEXT>&via=<VIA>" target="_blank" class="btn share-btn twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <!-- Google Plus -->
    <a href="https://plus.google.com/share?url=<BTN>" target="_blank" class="btn share-btn google-plus">
      <i class="fab fa-google-plus"></i>
    </a>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer/sharer.php?u=<URL>" target="_blank" class="btn share-btn facebook">
      <i class="fab fa-facebook"></i>
    </a>
    <!-- StumbleUpon (url, title) -->
    <a href="http://www.stumbleupon.com/submit?url=<URL>&title=<TITLE>" target="_blank" class="btn share-btn stumbleupon">
      <i class="fab fa-stumbleupon"></i>
    </a>
    <!-- Reddit (url, title) -->
    <a href="http://reddit.com/submit?url=<URL>&title=<TITLE>" target="_blank" class="btn share-btn reddit">
      <i class="fab fa-reddit"></i>
    </a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?url=<URL>&title=<TITLE>&summary=<SUMMARY>&source=<SOURCE_URL>" target="_blank" class="btn share-btn linkedin">
      <i class="fab fa-linkedin"></i>
    </a>
    <!-- Email -->
    <a href="mailto:?subject=<SUBJECT&body=<BODY>" target="_blank" class="btn share-btn email">
      <i class="fa fa-envelope"></i>
    </a>
  </div>
</div><!-- /.blog-post -->
<% x += 1 %>
<% end %>
