<h3><%= @user.fname %> <%= @user.lname %></h3>
<ul>
  <li><%= @user.username %></li>
  <li><%= @user.email %></li>
  <li><%= @user.id %></li>
</ul>
<hr>
<a href="/<%= @user.username %>"><button class="btn">Back</button></a>
